@media (max-width: 320px) {
    html, body {
        width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    header .logo{
        font-size: 15px;
        margin-left: -5px;
        margin-right: 10px;
    }
    header .search input[type="text"]{
        width: 100px;
        height: 20px;
        margin-right: 5px;
    }
    .topbar__inner{
        justify-content: flex-start;
    }
    .actions{
        height: 30px;
    }
    .actions .btn--outline {
        height: 20px;
        width: 35px;
        font-size: 10px;
        line-height: 7px;
        margin-bottom: -13px;
        padding-left: 2px;
    }
    .actions .btn--primary{
        margin-left: -5px;
        width: 100px;
        height: 20px;
        font-size: 6px;
        margin-bottom: -13px;
        text-align: center;
    }
    .categories .container{
        margin-top: -10px;
        height: 20px;
        text-align: center;
    }
    .categories{
        height: 20px;
    }
    .categories a{
        text-align: center;
        height: 10px;
        margin-top: -3px;
        font-size: 4px;
    }
    .categories1 .container1{
        margin-top: -10px;
        height: 10px;
        text-align: center;
    }
    .categories1{
        height: 10px;
    }
    .categories1 a{
        text-align: center;
        height: 10px;
        margin-top: -3px;
        font-size: 5px;
    }
    h2{
        margin-top: -10px;
    }
    .brand-list{
        margin-top: 5px;
        gap: 5px;
    }
    .brand-item {
        font-size: 6px;
        padding: 0;
    }
    .brand-filters-row{
        margin: 0;
    }
    .brand-filters{
        width: 40%;
        height: 20px;
    }
    .brand-filters-left,
    .brand-filters-right{
        border-radius: 3px;
        height: 20px;
        width: 90px;
    }
    .filter-btn{
        width: 33%;
        font-size: 7px;
        padding: 0;
    }
    .filter-btn.active{
        text-align: center;
    }
    .brand-images a img {
        width: 17px;
        height: auto;
        display: block;
    }
    .offer-block{
        margin-left: -10px;
    }
    .offer-block span{
        font-size: 6px;
    }
    .offer-block button{
        width: 120px;
        margin-right: -15px;
        padding: 0;
        height: 20px;
        font-size: 6px;
    }
    .recommend-header img{
        margin-right: -8px;
    }
    .recommend-header h1{
        font-size: 10px;
    }
    .recommend-banner{
        height: 40px;
        background: #0000001a;
        padding: 10px 10px;
        margin-top: -10px;
    }
    .recommend-banner img{
        width: 60px;
        margin-left: -8px;
    }
    .recommend-banner .banner-text strong{
        font-size: 8px;
    }
    .recommend-banner .banner-text p{
        font-size: 6px;
        color: black;
    }
    .recommend-banner .btn--black {
        width: 70px;
        height: 25px;
        font-size: 12px;
        border-radius: 10px;
        margin-bottom: 1px;
    }
    .valuation{
        display: none;
    }
    .rec-grid{
        gap: 5px;
    }
    .rec-card{
        border-radius: 5px;
        height: 110px;
        border: none;
    }
    .rec-info h3{
        font-size: 8px;
        margin-top: -10px;
    }
    .rec-info p{
        display: none;
    }
    .rec-info span{
        display: none;
    }
    .btn--black{
        height: 30px;
        border-radius: 6px;
        font-size: 12px;
    }
    .secondary-nav-wrapper{
        margin-top: 5px;
        margin-bottom: 0;
    }
    .secondary-nav-wrapper a{
        font-size: 6px;
    }
    .footer{
        margin-top: 0;
        padding-bottom: 0;
    }
    .footer-content{
        margin-left: -5px;
        gap: 5px;
    }
    .footer-content{
        width: 20px;
    }
    .footer-block{
        min-width: 70px;
    }
    .footer-block a{
        font-size: 5px;
        width: 80px;
        height: 25px;
        padding: 0;
        margin-bottom: 1px;
    }
    .footer-info p{
        font-size: 6px;
        margin-bottom: -15px;
        margin-top: -15px;
    }
    .footer-row{
        width: 100%;
        gap: 0;
    }
    .footer-column-left{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 25px;
        gap: 0;
        flex-wrap: nowrap;
    }
    .footer-column-right{
        display: flex;
        flex-direction: row;
        width: 30%;
        height: 25px;
        gap: 0;
    }
    .footer-products-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5px;
    }
    .footer-bottom-part{
        padding-bottom: 0;
    }
    .footer-column-left span{
        font-size: 5px;
        width: 20%;
        margin-top: -15px;
    }
    .footer-column-left a{
        font-size: 5px;
        width: 40%;
        margin: 0;
    }
    .footer-column-left a:last-child{
        font-size: 5px;
        margin: 0;
    }
    .social-icons{
        justify-content: flex-end;
    }
    .social-icons a{
        height: 25px;
        width: 25px;
        margin: 0;
    }
    .footer-products{
        padding-top: 0;
    }
    .footer-products-left{
        justify-content: flex-start;
        width: 60%;
        height: 10px;
        margin: 0;
    }
    .footer-products-left a{
        margin: 0;
        margin-right: 4px;
        font-size: 6px;
    }
    .footer-products-left a:last-child{
        margin: 0;
    }
    .footer-products-right{
        justify-content: flex-end;
        width: 40%;
        height: 10px;
    }
    .yandex-brand{
        height: 20px;
        position: relative;
    }
    .yandex-brand span{
        font-size: 6px;
        height: 10px;
        color: #666666;
    }
    .yandex-logo-link img{
        height: 10px;
        width: 25px;
    }
    .yandex-logo-link a{
        height: 20px;
        margin: 0;
    }
}